/* p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
    color: yellow;
    font-size: 12px;
} */

/* Chapter 1 - Color */
/* Color Name */
h1 {
    color: darkCyan;
}

/* hex code */
h2 {
    color: #ee3e80;
}

/* RGB Color */
p {
    color: rgb(120, 140, 158);
}